<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bzim">
    <meta name="description" content="{{ page.data.abstract }}">
    <meta property="og:description" content="{{ page.data.abstract }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.base_url }}/posts/{{ page.slug }}.html">
    <meta property="og:image" content="{{ site.base_url }}/img/logo.png">
    <meta property="og:type" content="article">
    <meta name="keywords" content="computer science, programming, {{ page.data.keywords }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/main.css">
  </head>
  <body>
    <div id="page-wrapper">
      <div id="header">
        <a href="{{ site.base_url }}">BZIM's blog</a>
      </div>
      <div id="scroll">
        <div id="contents-wrapper">
          <div id="contents">
            <h2>Abstract</h2>
            <p id="abstract">
              {{ page.data.abstract }}
            </p>
            <h1>{{ page.title }}</h1>
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
