{% assign description = 'List of posts by Bzim' %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bzim">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.base_url }}">
    <meta property="og:image" content="{{ site.base_url }}/img/logo.png">
    <meta property="og:type" content="article">
    <meta name="keywords" content="computer science, programming">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.base_url }}/css/home.css">
  </head>
  <body>
    <div id="page-wrapper">
      <div id="header">
        <a href="{{ site.base_url }}">BZIM's blog</a>
      </div>
      <div id="scroll">
        <div id="contents-wrapper">
          <div id="contents">
            <h1>Posts</h1>
            <ul id="posts">
              {% for post in collections.posts.pages %}
              <li>
                <a href="{{ post.permalink }}">
                  {{ post.title }}
                  {% if post contains 'published_date' %}
                  [{{ post.published_date | truncate: 10, "" }}]
                  {% endif %}
                </a>
                : {{ post.data.abstract }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
