$bg: #33333B;
$text: #DDDDDD;
$link: #5FDEFB;
$min-content-width: 1000px;

@mixin overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 110%;
}

body, html {
    width: 100%;
}

body {
    background-color: $bg;
    color: $text;
    font-family: sans-serif;
}

a {
    color: $link;
    text-decoration: none;
}

a:active {
    color: $link + #181818;
}

a:hover {
    text-decoration: underline;
}

#page-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    $font-size: 2em;
    width: 100%;
    background-color: $bg + #222222;
    padding: 0.2em 0 0.25em 0;
    box-shadow: 0 0 10px $bg * 0.90;
    z-index: 1000;
    font-size: $font-size;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    a {
        color: $text;
    }
    * {
        margin: auto;
    }
}

#scroll {
    @include overflow;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
}

#contents-wrapper {
    margin: auto;
    text-align: left;
    z-index: 50;
    background-color: $bg + #111111;
    box-shadow: 0 0 10px $bg * 0.90;
    min-width: 80%;
    max-width: 1000px;
    min-height: 100%;
}

#contents {
    width: auto;
    margin: 0 5% 0 5%;
    padding-bottom: 2em;
}

@mixin header($margin, $font-size) {
    margin: $margin * 1.5 0 $margin 0;
    font-size: $font-size;
    font-weight: bold;
}

h1 {
    @include header(30px, 2em);
    text-align: center;
    font-size: 225%;
}

h2 {
    @include header(20px, 1.75em);
    font-size: 180%;
}

h3 {
    @include header(10px, 1.5em);
    font-size: 130%;
}

h4 {
    @include header(5px, 1.25em);
    font-size: 110%;
}

$indent: 1.75em;

p {
    text-align: justify;
    text-indent: $indent;
    line-height: 1.4;
    padding: 0.25em 0 0.25em 0;
    overflow-x: auto;
}

pre {
    padding: 1em;
    margin: 1em 0 1em 0;
    @include overflow;
}

ul, ol {
    list-style-position: inside;
}

ol > li {
    text-indent: $indent + $indent;
}

img {
    display: block;
    margin: auto;
}
